training_data/parsed_samples_part_* filter=lfs diff=lfs merge=lfs -text
phishlang_clientside_app/installer.deb filter=lfs diff=lfs merge=lfs -text
src/model/model.safetensors filter=lfs diff=lfs merge=lfs -text
